@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin titleStyle {
  color: #051101;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
}

@mixin textStyle {
  color: #051101;
  opacity: 0.7;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
