.header-banner {
  display: flex;
  justify-content: space-between;

  @include mediaMobileFirst(1160) {
    display: flex;
    flex-direction: column;
    @include flexCenter;
    text-align: center;
  }

  &__left-top {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__left-top__text {
    font-family: "Raleway-Semibold";
    color: $btnColor;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    text-transform: uppercase;
    margin-inline: auto auto;

    @include mediaMobileFirst(400) {
      font-size: 20px;
      text-align: center;
    }

    @include mediaMobileFirst(344) {
      font-size: 17px;
    }
  }

  &__top-title {
    font-family: "Raleway-Bold";
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #051101;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-block: 20px;

    @include mediaMobileFirst(400) {
      font-size: 52px;
    }

    @include mediaMobileFirst(338) {
      font-size: 46px;
    }
  }

  &__left-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__left-top__word {
    max-width: 425.48px;
    width: 100%;
    font-family: "Raleway-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #051101;
    opacity: 0.7;
  }

  &__left-top__span {
    color: $btnColor;
  }

  &__left-text {
    max-width: 350px;
    width: 100%;
    font-family: "Raleway-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #051101;
    opacity: 0.7;

    @include mediaMobileFirst(1160) {
      justify-content: center;
    }
  }

  &__left-top__img {
    width: 50px;
    height: 17px;

    @include mediaMobileFirst(1160) {
      display: none;
    }
  }

  &__left-price {
    font-family: "Raleway-Bold";
    font-weight: 700;
    font-size: 31px;
    line-height: 130%;
    color: $btnColor;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 14px;

    @include mediaMobileFirst(1160) {
      justify-content: center;
    }
  }

  &__left-price__span {
    font-family: "Raleway-Bold";
    font-size: 22px;
    line-height: 130%;
    color: #87d16d;
  }

  &__left-btn__group {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 37px;

    @include mediaMobileFirst(1160) {
      justify-content: center;
    }
  }

  &__left-customer {
    display: flex;
    gap: 70px;
    margin-top: 84px;
    text-align: center;

    @include mediaMobileFirst(1160) {
      justify-content: center;
      margin-top: 54px;
    }
  }

  &__left-customer__70k {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__left-customer__num {
    font-family: "Raleway-Bold";
    font-weight: 700;
    font-size: 85px;
    line-height: 120%;
    color: $btnColor;

    @include mediaMobileFirst(1160) {
      font-size: 65px;
    }

    @include mediaMobileFirst(400) {
      font-size: 60px;
    }
  }

  &__left-customer__text {
    font-family: "Raleway-Regular";
    font-weight: 500;
    font-size: 16px;
    font-family: "Raleway-Regular";
    line-height: 150%;
    color: #051101;
    opacity: 0.7;
  }

  .header-banner__right-star {
    position: absolute;
    top: 250px;
    left: auto;
    background-image: url(/Image/Star\_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    @include flexCenter;

    @include mediaMobileFirst(1160) {
      display: none;
    }
  }

  &__right-star__text {
    font-family: "Raleway-Bold";
    font-weight: 600;
    font-size: 37px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
    width: 79px;
  }

  &__right-img {
    max-width: 718px;
    width: 100%;
  }

  // header banner right carousel
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 372px;
    width: 718px;
  }

  .mySwiper {
    width: 500px;
    height: 25%;
    box-sizing: border-box;
    padding: 10px 0;
    transform: translateX(200px);
  }


  .mySwiper .swiper-slide {
    opacity: 0.4;
    width: 110px;
    height: 110px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
  }

  .mySwiper .swiper-slide-thumb-active {
    background: #B6E247;
    opacity: 2;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// btn hover
.btn {
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-family: "Raleway-Regular";
  font-size: 16px;
  padding: 15px 30px;
  text-transform: uppercase;
}

.fourth {
  border: 1px solid rgba(92, 190, 58, 0.3);
  color: $btnColor;
  background-image: -webkit-linear-gradient(
    45deg,
    $btnColor 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, $btnColor 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: 1s;
}
.fourth:hover {
  color: #fff;
  background-position: 0;
}