.page-header {
  background: #ebffe4;
  padding: 0 0 70px 0;

  &__header-content {
    @include flexBetween;
    padding: 54px 0;

    .header-content__header-navbar {
      display: flex;
      gap: 30px;
    }

    .header-wrapper__navbar-link {
      color: #051101;
      opacity: 0.6;
      border: 2px solid #ebffe4;
      font-family: "Raleway-Regular";

      @include mediaMobileFirst(540) {
        display: none;
      }
    }

    .header-wrapper__navbar-link:hover {
      transition: 0.5s;
      border-bottom: 2px solid #051101;
      opacity: 0.9;
    }

    .burger-menu {
      display: none;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;

      @include mediaMobileFirst(540) {
        display: flex;
      }
    }
    .burger-menu > div {
      width: 30px;
      height: 3px;
      border-radius: 30px;
      background-color: $btnColor;
    }
  }
}

.button {
  padding: 15px 30px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

.button-2 {
  border-radius: 4px;
  @include flexCenter;
  color: $color;
   font-family: "Raleway-Regular";
  border: 3px solid $btnColor;
  background-image: -webkit-linear-gradient(30deg, $btnColor 50%, transparent 50% );
  background-image: linear-gradient(30deg, $btnColor 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out;
  transition: 0.8s;

  @include mediaMobileFirst(540) {
    display: none;
  }
}
.button-2:hover {
  background-position: 100%;
  color: $btnColor;
  background-color: transparent;
}